.ico-back-arrow {
  width: 0.58em;
  height: 1em;
  fill: #2F417C;
}
.ico-check {
  width: 1.27em;
  height: 1em;
  fill: #FFF;
}
.ico-collapse-arrow {
  width: 0.8em;
  height: 1em;
  fill: #646C77;
}
.ico-logo-small {
  width: 1em;
  height: 1em;
  fill: #646C77;
}
.ico-next-arrow {
  width: 0.95em;
  height: 1em;
  fill: #FFF;
}
.ico-next-arrow2 {
  width: 0.89em;
  height: 1em;
  fill: #FFF;
}
.ico-question-circle {
  width: 1em;
  height: 1em;
  fill: #2F417C;
}
.ico-quote {
  width: 1.19em;
  height: 1em;
  fill: #62C87A;
}
.ico-right-arrow {
  width: 0.58em;
  height: 1em;
  fill: #2F417C;
}
.ico-select-arrow {
  width: 2em;
  height: 1em;
  fill: #646C77;
}
